@font-face{
  font-family: Postworkout;
  src: url(MainFont.otf);
}
body,html,#master {
  height:100%; 
}
.panel {
  margin-top:100px;
}

.body-text{
  font-family: Postworkout;
  font-size: smaller;
}

.Profile-Icon {
  width: 20px; 
  height: auto; 
  vertical-align: middle; 
}

.circle {
  position: fixed; 
  width: 150px; 
  height: 150px;
  border-radius: 50%; 
  background-color: #000; 
}

.top-left-circle {
  top: -50px; 
  left: -50px;
}

/* Post Workout Logo */
.PostWorkout-Primary{
  font-family: Postworkout;
  margin-bottom: 10px;
}
.NavPW{
  font-family: Postworkout;
}

/* Button for use */
.Primary-Button{
  font-family: Postworkout;
  background-color: black;
  color: white;

}

.Main-Pic{
  height: auto;
  width: auto;
}

/* Login input */
.Input-login{
  width: 300px;
  height: 40px;
}




.input-focus:focus {
  outline: none; /* Removes the default outline */
  box-shadow: 0 0 0 0.25rem rgba(255, 0, 0, 0.5); /* Adds a red glow */
}